<div class="row" id="pic">
    <img src="burger.jpg" alt="Yummy burger">
</div>
<header class="row">
    <h1 class="head">Eat-da-Burger!</h1>
</header>
<div class="row">
    <div class="col-md-6 column">
        <ol class="items">
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/unless}}
            {{/each}}
        </ol>
    </div>
    <div class="col-md-6">
        <ol class="items">
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/if}}
            {{/each}}
        </ol>
    </div>
</div>
<div class="row text">
    <p>Enter a new burger of your creation </p>
</div>
<form class="row newBurg">
    <div class="form-group">
        <input class="form-control" type="text" id="newBurg" name="burger_name"></input>
    </div>
</form>
<div class="row">
    <button class="butt" type="submit">Add &#127828;</button>
</div>

